/** 各 button 共用樣式 */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0 4px 0 0;
  }
}

/** block 型按鈕 */
.btn-main {
  @include btn-rounded-border(12px, 0);
  @include bg-color($main);
  &:hover {
    @include common-hover($white, $main);
  }

  &:focus {
    box-shadow: none;
  }
}
