/** 繼承樣式 - select */
%search-rounded-border {
  @extend %input-rounded-border;

  padding: 12px 45px 12px 24px;
  border-radius: 8px;
}

/** select 主體 */
.default-select {
  @extend %input-rounded-border;
  &:focus {
    @extend %common-focus;
    background-color: $gray-400;
    .icon-arrow-down-gray {
      width: 24px;
      transition: 0.2s;
      transform: rotate(180deg);
      &.not-active {
        width: 24px;
        transition: 0.2s;
        transform: none;
      }
    }
  }
  &:not(:focus) {
    .icon-arrow-down-gray {
      width: 24px;
      transition: 0.2s;
    }
  }
  &:disabled {
    color: $gray-500;
    background-color: #e9ecef;
    opacity: 1;
  }

  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.placeholder {
    color: $gray-600;
  }
}
.dropdown-menu {
  @include dropdown-rounded-border(24px, 0, 24px);
  background-color: $gray-500;
  width: 100%;
  .input-item {
    position: relative;
    margin-bottom: 12px;
  }
  .dropdown-search {
    @extend %search-rounded-border;
    &:focus {
      @extend %common-focus;
    }
  }
  .dropdown-items {
    max-height: 150px;
    overflow-y: auto;
    .dropdown-item {
      @include select-rounded-border(8px, 24px, 0);
      color: $gray-100;
      overflow: hidden;
      font-size: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.disabled {
        color: #999;
        pointer-events: none;
      }

      &:hover {
        background-color: $gray-400;
      }
    }
  }
}
