/** Color */
// Main
$main: #1db954;

/** Gray Scale */
// White
$white: #ffffff;

// Black
$black: #121212;

// 100
$gray-100: #efefef;

// 200
$gray-200: #b3b3b3;

// 300
$gray-300: #9c9c9c;

// 400
$gray-400: #535353;

// 500
$gray-500: #404040;

// 600
$gray-600: #212529;
